:root {
    --white: #fff;
    --black: #000;
    /* --primary: */
    --secondary: #005571;
}

@font-face {
    font-family: 'Eina2';
    src: url('../font/eina2-regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Eina2semibold';
    src: url('../font/eina02semibold.ttf');
    /* font-weight: 600; */
}

@font-face {
    font-family: 'Eina2-light';
    src: url('../font/eina2-light.ttf');
}

@font-face {
    font-family: 'Eina3 Bold';
    src: url('../font/eina3-bold.ttf');
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 1500px;
    }
}

.container-fluid {
    /* padding: 0 56px; */
    padding: 0 40px;
}

.btn {
    font-family: 'Eina2';
    border-radius: 0%;
}

section {
    position: relative;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    margin: 0;
    color: #323E48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323E48;
    margin: 0;
}

.img-auto {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover,
button:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

/* Button */
.btn-theme {
    border-radius: 40px;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    font-size: 15px;
    line-height: normal;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 23px 27px;
    font-family: 'Eina3 Bold';
}

.btn-theme:hover {
    background-color: var(--secondary);
    color: var(--white);
}

/* Button End */



/* HEader */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.top-bar {
    width: 100%;
    padding: 14px 0;
    background-color: #333F4C;
    text-align: center;
}

.top-bar p {
    color: var(--white);
    font-size: 15px;
}

/* main Header */

.main-navigation {
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.main-navigation .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation .container-fluid>ul {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.main-navigation .container-fluid>ul a {
    color: var(--black);
    font-size: 15px;
}

.main-navigation .container-fluid>ul a i {
    font-size: 1.25rem;
}

.main-navigation ul.more-links>li:nth-child(1) a {
    color: #CCCCCC;
}

.main-navigation ul.more-links>li:nth-child(1) a:hover {
    background-color: transparent;
    color: #CCCCCC;
}

.main-navigation ul.more-links {
    gap: 20px;
}

.main-navigation ul.more-links a {
    padding: 10px;
    display: grid;
    place-items: center;
    font-family: 'Eina2';
    font-size: 15px;
}

.main-navigation ul.more-links a:hover {
    background-color: #CDA17F;
    color: var(--white);
}

.main-navigation ul.more-links ul.dropdown-menu {
    min-width: 50px;
    padding: 0;
    border: 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);

}

#searchTop {
    height: 120px;
    top: 3rem;
}

#searchTop {
    height: 120px !important;
    top: 3rem;
}

#searchTop .offcanvas-body {
    display: grid;
    align-items: center;
    padding: 0 3.125rem;
}

#searchTop form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#searchTop form .input-group {
    align-items: center;
    gap: 1rem;
}

#searchTop form .input-group i {
    color: var(--secondary);
}

#searchTop form .input-group input.form-control {
    border: 0;
    box-shadow: none !important;
}

#searchTop form .input-group input.form-control::placeholder {
    color: #CCC;
}

/* Shop Dropdown */
.navbar-collapse {
    position: relative;
}

.shop-menu {
    position: absolute;
    top: calc(100% + 100px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--white);
    padding: 2.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.shop-menu.show {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 10px);
}

.shop-menu .container {
    max-width: 800px;
}

.shop-menu h4 {
    color: #555;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-family: 'Eina2semibold';
    margin-bottom: 15px;
}

.shop-menu ul li+li {
    margin-top: 8px;
}

.shop-menu ul li a {
    color: rgba(85, 85, 85, 0.60);
    font-family: 'Eina2';
    font-size: 15px;
}

/* Navbar */

.navbar-nav {
    gap: 100px;
}

.navbar-nav .nav-link {
    padding: 10px;
    font-size: 1.125rem;
    position: relative;
    color: #555555;
    letter-spacing: 1px;
    font-family: 'Eina2';
}

.navbar-nav .nav-link:hover {
    color: var(--secondary);
}

.navbar-nav li.active .nav-link::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #313E48;
    transition: 0.5s ease;
}

/* HEader End */

/* Main Hero Section */

.main-hero {
    width: 100%;
    height: 1100px;
    background-image: var(--bgimg);
    background-repeat: no-repeat;
    background-position: center center;
}

.main-hero .swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.main-hero .swiper .swiper-slide {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */

}

.main-hero .main-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 0;
}

.main-hero .swiper .swiper-slide .text-caption {
    max-width: 385px;
    position: relative;
    z-index: 1;
}

.main-hero .swiper .swiper-slide h1 {
    font-size: 7.5rem;
    line-height: 1;
    margin: 1.875rem 0;
}

.main-hero .swiper .swiper-slide p {
    margin-bottom: 1.875rem;
    font-family: 'Eina2';
    font-size: 16px;
}

.main-hero .swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    left: auto;
    width: fit-content;
}

.main-hero .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid var(--secondary);
    background-color: transparent;
    opacity: 1;
    margin: 0 !important;
    transition: 0.5s ease;
}

.main-hero .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--secondary);
}

/* Main Hero Section END */


/* About Section */
.about-section {
    padding: 9.875rem 0 3.875rem;
    background: url(../images/wave.png);
    margin-top: -5rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 1;
}

.about-section::before {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 20.28%, #E1E1E1 109.21%);
    opacity: 0.25;
    z-index: -1;
}

.essence-head h1 {
    color: rgba(0, 85, 113, 1);
    font-family: 'Eina2-light';
    font-size: 65px;
}

.essence-friendly img {
    width: 57px;
    height: 50px;
}

.essence-friendly h3 {
    color: #005571;
    padding: 10px 0;
    font-family: 'Eina2';
    font-size: 25px;
}

.essence-thumbnail img {
    /* width: 100%; */
    height: 540px;
}

.essence-friendly p {
    color: rgba(85, 85, 85, 0.6);
}

.about-section p {
    font-family: 'Eina2';
    font-size: 18px;
}

/* About Section End */

/* Vegan Section */

.cta-section {
    background-image: var(--bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%;
    /* height: 600px; */
    display: flex;
    align-items: center;
    padding: 12.5rem 0;
    position: relative;
}

.cta-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #000 0%, rgba(0, 0, 0, 0.00) 60.5%);
    z-index: 0;
}

.cta-section .wave-line {
    position: absolute;
    /* top: 0; */
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
}

.vegan-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 2.125rem;
    position: relative;
    z-index: 1;
}

.vegan-content h3 {
    font-size: 2.5rem;
    color: var(--white);
}

.vegan-content p {
    font-size: 1.875rem;
    color: var(--white);
    font-family: 'Eina2';
}

.vegan-content a {
    padding: 20px;
    background-color: var(--white);
    color: #000;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.vegan-content a:hover {
    background-color: #CDA17F;
    color: var(--white);
}

/* Vegan Section End*/


/* Our Collection */
.our-collection {
    padding: 160px 0 80px;
    font-family: 'Eina2';
    background: url(../images/wave.png);
    margin-top: -3.5rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}

.collection-head h1 {
    color: #005674;
    font-size: 50px;
}

.collection-head p {
    color: #000;
    margin-top: 30px;
    font-size: 20px;
}

.our-collection .swiper {
    padding: 1px;
    margin-top: 40px;
}

.our-collection .slider {
    position: relative;
    margin-top: 65px;
}

.slider .swiper-button-prev {
    left: -40px;
}

.slider .swiper-button-next {
    right: -40px;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F1F1F1;
    top: 30%;
}

.slider .swiper-button-prev::after {
    content: '\f060';
}

.slider .swiper-button-next::after {
    content: '\f061';
}

.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    font-family: "Font Awesome 6 Free";
    /* content:; */
}

.our-collection .slider .collectionCard img {
    /* width: 340px; */
    object-fit: contain;
    max-height: 400px;
}

.our-collection .slider .collectionCard .card-body {
    margin-top: 30px;
    text-align: center;
}

.card-body h3 {
    color: var(--secondary);
    margin-top: 30px;
    font-size: 28px;
}

.card-body p {
    padding: 30px 0 30px;
    font-size: 18px;
}

.card-body a {
    padding: 14px 30px;
    background-color: var(--secondary);
    border-radius: 0%;
    color: var(--white);
}

.card-body a:hover {
    background-color: #CDA17F;
    color: var(--white);
}

/* Our Collection end */

/* Best Seller */
.best-seller {
    padding-bottom: 80px;
    text-align: center;
    padding-top: 9.875rem !important;
    background: url(../images/wave.png);
    margin-top: -3rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}

.best-seller .seller-head h1 {
    font-family: 'Eina2';
    color: #005674;
    font-size: 50px;
    margin-bottom: 70px;
}

.best-seller .wave-line {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.seller-body h4 {
    font-family: 'Eina2-light';
    font-size: 30px;
    color: #000;
}

.seller-body p {
    font-family: 'Eina2';
    font-size: 20px;
    color: #000;
}

.best-seller .seller-card .seller-body .btn {
    padding: 14px 30px;
    background-color: var(--secondary);
    color: var(--white);
}

.best-seller .seller-card .seller-body .btn:hover {
    background-color: #CDA17F;
}

.seller-card figure {
    position: relative;
    height: 360px;
    display: grid;
    place-items: center;
}

.seller-card .badge-group {
    position: absolute;
    top: 0;
    right: 0;
}

.seller-card .badge-group li {
    width: 70px;
    height: 70px;
    border: 1px solid #E9D59D;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seller-card .badge-group1 li {
    border: 1px solid #6FCFEB;
}

.seller-card .badge-group2 li {
    border: 1px solid #95BF9B;
}

.seller-card .badge-group3 li {
    border: 1px solid #DAAED8;
}

.seller-card .badge-group li p {
    font-size: 12px;
    font-family: 'Eina2';
    line-height: 1.2;
}

.seller-card .badge-group li+li {
    margin-top: 10px;
}

.seller-card .badge-group li span {
    font-size: 8px;
    font-family: 'Eina2';
    letter-spacing: 1px;
}

.seller-card .badge-group li.bg {
    background-color: rgba(233, 214, 158, 0.10);
    color: #595B60;
}

.seller-card .badge-group2 li.bg {
    background: rgba(149, 191, 155, 0.20)
}

/* .seller-card figure svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
} */
/* .seller-card {
    height: 600px;
} */

.seller-card img {
    max-height: 360px;
    object-fit: contain;
}

/* .pro-row .col-lg-3:nth-child(1) .seller-card figure svg:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-105deg);
} */


.best-seller .discover a {
    padding: 15px 30px;
    color: var(--secondary);
    border: 1px solid #005674;
    margin-top: 60px;
}

.best-seller .discover a:hover {
    background-color: #CDA17F;
    color: var(--white);
}

/* Best Seller End */


/* Our Brand */

.our-brand {
    background-image: url(../images/brandbg.png);
    /* height: 1100px; */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 0 40px;
}

.our-brand .our-heading h1 {
    color: #005674;
    font-size: 110px;
    font-family: 'Eina2';

}

.our-brand .brand-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.our-brand .our-heading1 {
    font-family: 'Eina2';
    padding: 0 70px;
}

.our-brand .our-heading1 h1 {
    font-size: 50px;
    color: #005674;
    margin-bottom: 30px;
}

.our-brand .our-heading1 p {
    font-size: 17px;
    margin-bottom: 30px;
}

.our-brand .our-heading1 a {
    background-color: var(--secondary);
    padding: 20px;
    color: var(--white);
}

.our-brand .our-heading1 a:hover {
    background-color: #CDA17F;
}

/* Our Brand End */


/* Circle Images */

.circle-images {
    padding: 0 0 90px;
    background: url('../images/wavebg.png') no-repeat;
    background-position: bottom center;
    background-size: contain;
    margin-bottom: -3.5rem;
    z-index: 1;
}


.circleimage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.75rem 0;
    /* gap: 72px; */
}

.circleimage li {
    text-align: center;
}

.circleimage li img {
    border-radius: 50%;
    width: 80%;
    aspect-ratio: 1/1;
    /* height: 180px; */
}

.circleimage li:nth-child(even) img {
    width: 85%;
}

.circleimage li:last-child img {
    height: 200px;
    border-radius: 0%;
    width: 15px;
    margin-left: 10px;
}

.circle-images .wave-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* Circle Images End */

/* Inspiration */

.Inspiration {
    background-image: url(../images/inspirationbg.png);
    width: 100%;
    /* height: 400px; */
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 0 40px;
}

.Inspiration .head h1 {
    color: #005674;
    margin-bottom: 40px;
    font-family: 'Eina2-light';
    font-size: 55px;
}

.Inspiration .head a {
    color: #000;
    font-size: 20px;
    font-family: 'Eina2';
}

.Inspiration-content .instimages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.Inspiration-content .instimages li img {
    border-radius: 20px;
    width: 100%;
    /* aspect-ratio: 1/1; */
    height: 200px;
    object-fit: cover;
}

.Inspiration-content .instimages li:nth-child(even) img {
    width: 100%;
    height: 260px;
}

.Inspiration-content {
    margin-top: 40px;
}

/* Inspiration End */

/* Join Oserth*/
.join-oserth {
    padding: 40px 0 40px;
}

.join-oserth {
    background-image: var(--bgimg);
    height: 550px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 13.375rem 0;
}


.join-oserth::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #000 0%, rgba(0, 0, 0, 0.00) 60.5%);
    z-index: 0;
}

.join-oserth .join-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 2.125rem;
    position: relative;
    z-index: 1;
}

.join-oserth .join-content h3 {
    color: #69D2F1;
    font-size: 40px;
}

.join-oserth .join-content p {
    color: #D9D9D9;
    font-size: 18px;
    font-family: 'Eina2';
}

.join-input input {
    padding: 20px 40px;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid var(--white) !important;
    color-scheme: light;
    color: var(--white) !important;

}

.join-input .form-control::placeholder {
    color: #D9D9D9;
    font-family: 'Eina2';
    font-size: 18px;
}

.join-input button {
    padding: 0 25px;
    background-color: var(--white);
    border: 1px solid var(--white);
    font-family: 'Eina2';
    font-size: 20px;
    color: #5CCBF2;
    text-transform: uppercase;
}

/* Join Oserth End*/


/* Footer */
footer {
    background-color: #333F4C;
    padding: 100px 0;
    font-family: 'Eina2';
}

footer h4 {
    color: #FFF;
    font-family: 'Eina2-light';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .form {
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    margin-bottom: 30px;
    color: var(--white);
}

footer .form .form-control {
    flex: 1;
    padding: 22px 30px;
    border-radius: 0;
    border: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    color-scheme: light;
    color: var(--white) !important;
}

footer .form .form-control::placeholder {
    color: #999;
}

footer .form .btn {
    padding: 30px;
    text-transform: uppercase;
    font-family: 'Eina2';
    font-size: 20px;
    padding: 22px 30px;
    color: var(--white);
    display: flex;
    align-items: center;
}

footer form label {
    display: flex;
    align-items: baseline;
    gap: 20px;
    font-size: 15px;
    color: var(--white);
}

.quicklink {
    display: flex;
    gap: 24px 0;
    max-height: 200px;
    flex-flow: wrap column;
}

.quicklink a {
    font-size: 18px;
    color: var(--white);
}

.termlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.termlinks a {
    color: var(--white);
    font-family: 'Eina2';
    font-size: 15px;
    text-transform: capitalize;
}

.copyright {
    color: var(--white);
    font-size: 15px;
    white-space: nowrap;
}

footer .wave-line {
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}

.footer-bottom {
    position: relative;
    z-index: 3;
}

.footer-payment p {
    color: var(--white);
    font-size: 15px;
    text-transform: capitalize;
}

/* .footer-payment img{
    width: 20vw;
     max-width: 280px; 
    height: 30px;
} */
.footer-payment figure img {
    max-width: 30px;
    height: 25px;
    margin-right: 5px;
    /* margin-right: 3px; */
    /* margin: 0%;
    padding: 0; */

}

/* Footer End */

/* mobile */

/* footer .row {
    gap: 2rem;
} */
@media (max-width:1400px) {
    .circle-images {
        /* margin-bottom: -4.5rem; */
    }

    /* .footer-payment img{
    max-width: 230px;
    } */
    footer .form .btn {
        padding: 17px;
    }

    footer form label {
        display: flex;
        align-items: baseline;
        gap: 14px;
        font-size: 12px;
        color: var(--white);
    }

}

@media (max-width:1920px) {
    .circle-images {
        margin-bottom: -5.3rem;
    }

}

/* mobile */


/* Product Details */
.details {
    padding: 320px 0 60px;
}

.details .detail-head p {
    font-family: 'Eina2-light';
    font-size: 15px;
    color: #000;
    margin-right: 10px;
}

.details .detail-head i {
    font-size: 10px;
    margin-right: 10px;
    color: #D9D9D9;
}

.details .detail-heading h3 {
    font-family: 'Eina2-light';
    font-size: 45px;
    color: #005674;
}

.details .detail-heading p {
    color: #000;
    font-family: 'Eina2';
    font-size: 24px;
}

.details .detail-side figure img {
    margin-bottom: 25px;
    object-fit: contain;
    height: 100px;
    width: 100px;
}

.details .proDetailImg .promainImg img{
    object-fit: contain;
    max-height: 740px;
}

.details .proDetailImg .product-badge li {
    width: 100px;
    height: 100px;
    border: 1px solid #95BF9B;
}

.details .proDetailImg .product-badge li p {
    font-size: 18px;
    font-family: 'Eina2-light';

}

.details .proDetailImg .product-badge li span {
    font-size: 12px;
    font-family: 'Eina2-light';

}

.details .proDetailImg .product-badge li.bg {
    background: rgba(149, 191, 155, 0.10);
}

.details .detail-content {
    display: flex;
    /* height: 700px; */
    padding: 10px 0px;
    flex-direction: column;
    justify-content: space-between;
}

.detail-content .details-buttons button {
    border: none;
    background: #F1F1F1;
    color: #000;
    font-family: 'Eina2';
    font-size: 15px;
    padding: 7px 17px;
}

.detail-content .details-buttons button:hover {
    background: #CDA17F;
    color: var(--white);
}

.detail-content h3 {
    font-family: 'Eina2-light';
    font-size: 40px;
    padding: 25px 0 25px;
    color: #555;
}

.detail-content .review-icon a {
    color: #CCC !important;
    font-size: 19px;
}

.detail-content .review-icon p {
    color: #CCC;
    font-size: 17px;
    font-family: 'Eina2';

}

.detail-content .review-content>:nth-child(1) {
    font-family: 'Eina2';
    font-size: 17px;
    color: #000;
    padding: 20px 0 20px;
}

.detail-content .review-content>:nth-child(3) {
    padding: 20px 0 20px;
}

.detail-content .review-content strong {
    font-size: 1rem;
    font-family: 'Eina2semibold';
    color: #555;
    text-transform: uppercase;
}

.detail-content .review-content span {
    font-size: 1rem;
    font-family: 'Eina2';
    color: #555;
}

.detail-content .review-content a {
    padding: 14px 25px;
    background-color: #F1F1F1;
    color: #000;
    font-family: 'Eina2';
    font-size: 16px;
 margin-right: 10px;

}

.detail-content .review-content button {
    padding: 12px 55px;
    border: none;
    background-color: #005674;
    color: var(--white);
    font-family: 'Eina2';
    font-size: 16px;
}
.detail-content .review-content button:hover {
background-color: #CDA17F;
}
.detail-content .delivery{
    padding: 20px 0 20px;
}

.detail-content .delivery p{
    font-family: 'Eina2';
    font-size: 14px;
    color: #000;
}
.detail-content .purchase p{
    font-family: 'Eina2';
    font-size: 14px;
    color: #000;
}

.vegan-friendly{
    padding: 25px 0 25px;
    background-color: #F9F9F9;

}
.vegan-friendly .essence-friendly1{
    width: 80%;
}
.vegan-friendly .essence-friendly1 h3{
    font-size: 20px;
    color: #555;
}

.Accordion-section{
    padding: 25px 0 25px;
    background: rgba(174, 218, 181, 0.20);
}
.Accordion-section .accordion-item{
    background-color: transparent !important;
    border: none !important;

}
.Accordion-section .accordion-item .accordion-button{
    background-color: transparent !important;
    box-shadow: none !important;
    color: #555;
    font-family: 'Eina2-light';
    font-size: 25px;
    text-transform: uppercase;
}
.Accordion-section .accordion-body{
    padding: 25px 20px 25px;
}
.Accordion-section .accordion-body .row{
    row-gap: 80px;
}
.Accordion-section .accordion-body h4{
    color: #005674;
    font-family: 'Eina2-light';
    font-size: 35px;
}
.Accordion-section .accordion-body h3{
    color: #005674;
    font-family: 'Eina2';
    font-size: 35px;
}
.Accordion-section .accordion-body p{
    color: #000;
    font-family: 'Eina2';
    font-size: 18px;
    padding-top: 10px;
}
/* .accordion-button::after {
    content: '\2212';
    float: right;
}

.accordion-button.collapsed::after {
    content: '\002B';
} */


.product-panel{
    background-color: #95BF9B;
    padding: 25px 0 20px;
}
.product-panel .product-panel-text{
    display: flex;
padding: 70px 15px;
flex-direction: column;
gap: 30px;
}
.product-panel .product-panel-text h1{
    color: var(--white);
    font-family: 'Eina2-light';
    font-size: 26px;
}
.product-panel .product-panel-text p{
    font-family: 'Eina2';
    font-size: 18px;
    color: var(--white);
}
.product-panel .product-panel-images figure img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}
.product-panel .product-panel-images figure img:last-child {
    margin-bottom: 0;
}
/* Product Details End */